<div class="main-container" style="display: flex; margin: 2% 20%;">
    <div>
        <h2 style="text-align: center;">Popular Services</h2>
        <% if @services.any? %>
        <% @services.each do |service| %>
            <div class="card p-2 m-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to service.title, service_path(service) %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Average Price: $<%= service.average_price %> USD</h6>
                </div>
            </div>
            <% end %>
        <% else %>
        <p>No services<p>
        <% end %>
    </div>
    <div class="recent-reviews-container" style="width: 1000px">
        <h2 style="text-align: center;">Recent Reviews<h2>
        <% if @recent_reviews.any? %>
        <% @recent_reviews.each do |review| %>
            <div style="display: flex;">
                <%= render partial: 'service/review', object: review, :style => "width: 100%;" %>
                <button class="btn btn-secondary ms-1 mt-3"><%= link_to review.service.title, service_path(review.service), :class => "dropdown-item" %></button>
            </div>
        <% end %>
        <% else %>
            <p>No recent reviews.</p>
        <% end %>
        
        
    </div>
</div>
