<h1>Homepage</h1>

<h2>Popular Services</h2>


<% if @services.any? %>
<% @services.each do |service| %>
 <h3><%= link_to service.title, service_path(service) %></h3>
    <div class="service-details">
        <li>
            <%= service.average_price %>
        </li>
    
    </div>
    <% end %>
<% else %>
<p>No services<p>
<% end %>