<%= link_to "Edit Password", edit_password_path, :class => "dropdown-item" %>
<div class="users-reviews m-3" style="width: 500px">
        <h2 style="text-align: center;">My Reviews<h2>
        <% if @reviews.any? %>
        
        <% @reviews.each do |review| %>
          <%= render partial: 'service/review', locals: { review: review } %>
        <% end %>
      <%= page_entries_info @reviews %>
      <div class="digg_pagination"><%= will_paginate @reviews %></div>
      <% else %>
        <p>No reviews yet.</p>
      <% end %>
        
        
    </div>