<div class="container mt-5">
    <h1 class="text-center">Terms of Service</h1>
    <p>Last updated: May 27, 2024</p>

    <h2>Agreement to Terms</h2>
    <p>These Terms of Service constitute a legally binding agreement made between you, whether personally or on behalf of an entity (“you”) and WrenchPortal ("Company", “we”, “us”, or “our”), concerning your access to and use of the onrender.wrenchportal.com website as well as any other media form, media channel, mobile website, or mobile application related, linked, or otherwise connected thereto (collectively, the “Site”). You agree that by accessing the Site, you have read, understood, and agreed to be bound by all of these Terms of Service.</p>

    <h2>Intellectual Property Rights</h2>
    <p>Unless otherwise indicated, the Site is our proprietary property and all source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics on the Site (collectively, the “Content”) and the trademarks, service marks, and logos contained therein (the “Marks”) are owned or controlled by us or licensed to us, and are protected by copyright and trademark laws and various other intellectual property rights and unfair competition laws of the Canada, foreign jurisdictions, and international conventions.</p>

    <h2>User Representations</h2>
    <p>By using the Site, you represent and warrant that:</p>
    <ul>
      <li>All registration information you submit will be true, accurate, current, and complete;</li>
      <li>You will maintain the accuracy of such information and promptly update such registration information as necessary;</li>
      <li>You have the legal capacity and you agree to comply with these Terms of Service;</li>
      <li>You are not a minor in the jurisdiction in which you reside;</li>
      <li>You will not access the Site through automated or non-human means, whether through a bot, script, or otherwise;</li>
      <li>You will not use the Site for any illegal or unauthorized purpose;</li>
      <li>Your use of the Site will not violate any applicable law or regulation.</li>
    </ul>

    <h2>User Registration</h2>
    <p>You may be required to register with the Site. You agree to keep your password confidential and will be responsible for all use of your account and password. We reserve the right to remove, reclaim, or change a username you select if we determine, in our sole discretion, that such username is inappropriate, obscene, or otherwise objectionable.</p>

    <h2>Prohibited Activities</h2>
    <p>You may not access or use the Site for any purpose other than that for which we make the Site available. The Site may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us.</p>
    <p>As a user of the Site, you agree not to:</p>
    <ul>
      <li>Systematically retrieve data or other content from the Site to create or compile, directly or indirectly, a collection, compilation, database, or directory without written permission from us.</li>
      <li>Make any unauthorized use of the Site, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email, or creating user accounts by automated means or under false pretenses.</li>
      <li>Use the Site to advertise or offer to sell goods and services.</li>
      <li>Circumvent, disable, or otherwise interfere with security-related features of the Site, including features that prevent or restrict the use or copying of any Content or enforce limitations on the use of the Site and/or the Content contained therein.</li>
      <li>Engage in unauthorized framing of or linking to the Site.</li>
      <li>Trick, defraud, or mislead us and other users, especially in any attempt to learn sensitive account information such as user passwords.</li>
      <li>Make improper use of our support services or submit false reports of abuse or misconduct.</li>
      <li>Engage in any automated use of the system, such as using scripts to send comments or messages, or using any data mining, robots, or similar data gathering and extraction tools.</li>
      <li>Interfere with, disrupt, or create an undue burden on the Site or the networks or services connected to the Site.</li>
      <li>Attempt to impersonate another user or person or use the username of another user.</li>
      <li>Sell or otherwise transfer your profile.</li>
    </ul>

    <h2>Termination</h2>
    <p>We reserve the right to terminate or suspend your account and access to the Site at our sole discretion, without notice and liability, for conduct that we believe violates these Terms or is harmful to other users of the Site, us, or third parties, or for any other reason.</p>

    <h2>Modifications and Interruptions</h2>
    <p>We reserve the right to change, modify, or remove the contents of the Site at any time or for any reason at our sole discretion without notice. However, we have no obligation to update any information on our Site. We will not be liable to you or any third party for any modification, price change, suspension, or discontinuance of the Site.</p>

    <h2>Governing Law</h2>
    <p>These Terms shall be governed by and defined following the laws of the United States. WrenchPortal and yourself irrevocably consent that the courts of Michigan shall have exclusive jurisdiction to resolve any dispute which may arise in connection with these terms.</p>

    <h2>Contact Us</h2>
    <p>If you have questions or comments about this Privacy Policy, please contact us at:</p>
    <ul>
      <a href='https://linkedin.com/in/dylan-cassell-'>LinkedIn</a> - <a href='https://twitter.com/daedalussltns'>Twitter</a>
    </ul>

    <footer class="text-center mt-5">
      <p>&copy; 2024 WrenchPortal. All rights reserved.</p>
    </footer>
  </div>